html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.panel-side {
  padding: 2px;
  box-sizing: border-box;
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  color: #fff;
  background-color: rgba(0,0,0,0.6);
  overflow: auto;
  z-index: 60;
}

.right {
  right: 0;
}

.left {
  left: 0;
}

.panel-side h3 {
  padding: 0 20px;
  margin: 20px 0;
}

.panel-side ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.panel-side li {
  list-style: none;
  padding: 10px 20px;
}

.panel-result {
  cursor: pointer;
  margin: 2px 0;
  background-color: rgba(0,0,0,0.3);
}

.panel-result:hover,
.panel-result:focus {
  color: orange;
  background-color: rgba(0,0,0,0.75);
}

.panel-heading {
  margin: 0px;
}

.settings-area-container {
  background: #fff;
  line-height: 1.5em;
  overflow: auto;
  padding: 12px 15px;
  width: 300px;
  display: none;
}

.visible {
  display: block;
}

#settings-list {
  padding: 0px;
}

.settings-toggle {
  list-style-type: none;
}

#settings-list>li {
  padding-bottom: .5rem;
}
